
/* * {
  border: 1px solid red;
} */

@import url("https://rsms.me/inter/inter.css");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--bg-color);
  color: var(--text);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  position: absolute;
  top: 10px;
  align-items: center;
  justify-content: center;
}

header img {
  height: 25px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--heading);
}

p {
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
}

footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  width: 600px;
  height: 450px;
  align-items: center;
  justify-content: center;
  background: var(--card-bg);
  border-radius: 15px;
  border: 5px solid var(--accent);
  box-shadow: 10px 10px var(--accent);
}

.info__container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.image__container img {
  height: 450px;
  border-radius: 10px 0 0 10px;
}

.overline {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.title {
  margin-bottom: 1rem;
  padding-right: 10px;
}

.price__container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  margin-bottom: 0;
}

.previous-price {
  text-decoration: line-through 1px;
}

.attribution {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--accent);
}

.price__button {
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  padding: 18px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}

.price__button:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}

#mobileImage {
  display: none;
}

#desktopImage {
  display: block;
}

#current-price {
  color: var(--accent);
}

:root {
  /* Primary */
  --accent: hsl(34, 96%, 59%);
  --dark-accent: hsl(29, 87%, 55%);
  --bg-color: hsl(0, 0%, 100%);
  /* neutral */
  --heading: hsl(199, 78%, 7%);
  --text: hsl(228, 12%, 48%);
  --card-bg: hsl(0, 0%, 100%);
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 12px;
    line-height: 1.3rem;
  }

  .container {
    flex-direction: column;
    width: 285.83px;
    height: 530px;
    box-shadow: 5px 5px var(--accent);
  }

  .image__container img {
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .info__container {
    padding: 20px;
  }

  .info__container p {
    margin-bottom: 0;
  }

  .title {
    padding-right: 10px;
    margin-bottom: 0;
  }

  .price__container {
    margin-bottom: 0;
  }

  #mobileImage {
    display: block;
  }
  #desktopImage {
    display: none;
  }
}
